*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f) ;
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 i{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input[type="text"]{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 170px 12px 50px;
    user-select: none;
    position: relative;
    cursor: pointer;
    margin-top: 2px;
    border: 1px solid #c4c0c087;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}
ul li::before{
    content: "\f111";
    font-family: 'Font Awesome 5 Free';
    font-size: 28px;
    color: #c4c0c087;
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 12px;
}
ul li.checked{
    color: rgba(1, 64, 1, 0.759);
    text-decoration: line-through;
    background-color: rgba(0, 255, 0, 0.205);
    border: 1px solid rgba(0, 255, 0, 0.281);
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}
ul li.checked::before{
    content: "\f058";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* Needed for solid icons */
    font-size: 28px;
    color: #ff5945;
    transition: all 0.3s ease-in-out;
}
.expired{
    color: #ff5945;
    text-decoration: line-through;
    background-color: #ff58453a;
    border: 1px solid #ff58453b;
    transition: all 0.3s ease-in-out;
}
ul li span{
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    top: 2px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
ul li .dueDate{
    position: absolute;
    right: 60px;
    width: 100px;
    height: 25px;
    top: 10px;
    font-size: 15px;
    color: #555;
    line-height: 22px;
    border: 2px solid #007bffcc;
    border-radius: 10px;
}

ul li span:hover{
    color: #ff5945;
    background: #e3e4e67d;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes fadeOut {
    to {
      opacity: 0;
      transform: scale(0.8);
    }
}  

input[type="date"] {
    padding: 10px;
    font-size: 13px;
    outline: none;
    background: transparent;
    border: 2px solid #007bff4f;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    width: 100px;
}

.alert{
    display: flex;
    align-items: center;
    position: fixed;
    top: 2%;
    left: 2%;
    justify-content: space-between;
    background-color: #ffd0d0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 95%;
    color: #ff1900;
    animation: fadeIn 0.3s ease-in-out;
}
.removeAlert{
    width: 30px;
    font-size: 30px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.removeAlert:hover{
    color: #ff5945;
}
input[type="date"]:focus {
    border: 2px solid #007bff;
    box-shadow: 0 0 5px #007bff4f;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    width:  90px;
}
@media (max-width: 540px){
    .todo-app{
        padding: 40px 15px 70px;
    }
    .row{
        padding-left: 10px;
    }
    input{
        padding: 8px;
        width: 180px;
    }
    button{
        padding: 14px 20px;
    }
    input[type="date"]{
        width: 40px;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 1;
        position: relative;
    }
}